<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="../assets/css/prism.css" />
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Homework2</title>
</head>

<body>
    <nav>
        <div class="name">Ali Ibrahim Abu Waked</div>
        <div class="menu">
            <i class="fas fa-bars" id="menu"></i>
        </div>
    </nav>
    <div class="menubar" id="menubar">
        <div class="links" id="links">
            <a href="../../public/index.html">Home</a>
        </div>
    </div>

    <div class="answer-information first-color-background   ">
        <span class="quation"><i>#Quation 1</i>
            <p>Write a PHP function that accepts an array of integers and return a new array afther removing odd numbers</p>
        </span>
        <div>
            <p>Test Your Code By The Following Examples:</p>
            <span class="reslut">
                <ul>
                    <li>input [1,2,3,4,5] <i class="fas fa-arrow-circle-right"></i>reslut [2,4]</li>
                    <li>input [5,4] <i class="fas fa-arrow-circle-right"></i>reslut [4]</li>
                    <li>input [3,5,7] <i class="fas fa-arrow-circle-right"></i>reslut []</li>
                </ul>
            </span>
        </div>
        <div class="show-code">
            <button type="button" class="button-show-code-1">show the code</button>
        </div>
        <div class="code language-php">
            <pre class="hidden-code pre-1">
            <code>
    &lt;?php
        function removeOddNumberFromArray(array $int)
        {
            return array_filter($int, function ($val) {
                if ($val % 2 == 0) {
                    return $val;
                }
            });
        } 
        removeOddNumberFromArray([2,4,6]); // return [2,4,6]
    ?&gt;
                </code>
            </pre>
        </div>
    </div>
    <div class="answer-information second-color-background   ">
        <span class="quation"><i>#Quation 2 </i>
            <p style="width:80%;">Write a PHP function that accepts an array of strings and return the longest string found in the
                array the function should have a 2nd argument the will hold the index of the item that have the longest string in the input array</p>
        </span>
        <div>
            <p>Test Your Code By The Following Examples:</p>
            <span class="reslut">
                <ul>
                    <li>input ['welcome','hello','hi'] <i class="fas fa-arrow-circle-right"></i>reslut welcome</li>
                    <li>input ['go to home','go to school'] <i class="fas fa-arrow-circle-right"></i>reslut go to school</li>
                    <li>input ['Hi I am Ahmed','Hello Iam Ali'] <i class="fas fa-arrow-circle-right"></i>reslut Hi I am Ahmed</li>
                </ul>
            </span>
        </div>
        <div class="show-code">
            <button type="button" class="button-show-code-2">show the code</button>
        </div>
        <div class="code language-php">
            <pre class="hidden-code pre-2">
            <code>
    &lt;?php
    function longetStringFromArray($array, &$len = 0)
    {
        $count = 0;
        foreach ($array as $key => $value) {
            if ($count < strlen($value)) {
                $count = strlen($value);
                $len = $key;
            }
        }
        return $array[$len];
    }

    longetStringFromArray(['hello', 'hi', 'go'], $index); // return hello
    ?&gt;
                </code>
            </pre>
        </div>
    </div>
    <div class="answer-information first-color-background">
        <span class="quation"><i>#Quation 3</i>
            <p>Write a function that accepts 2 arrays and return a new array that holds the value
                of muliplying each item in the first array by the corresponding item in the second array</p>
        </span>
        <div>
            <p>Test Your Code By The Following Examples:</p>
            <span class="reslut">
                <ul>
                    <li>input [1,3,4],[2,1,1] <i class="fas fa-arrow-circle-right"></i>reslut [2,3,4]</li>
                    <li>input [1,2],[1,5,6,7] <i class="fas fa-arrow-circle-right"></i>reslut [1,10,6,7]</li>
                    <li>input [2,2],[1,1] <i class="fas fa-arrow-circle-right"></i>reslut [2,2]</li>
                </ul>
            </span>
        </div>
        <div class="show-code">
            <button type="button" class="button-show-code-3">show the code</button>
        </div>
        <div class="code language-php">
            <pre class="hidden-code pre-3">
            <code>
    &lt;?php
    function multiplayTowArrayToggter(array $arry1, array $array2)
    {
        $count = count($arry1) > count($array2) ? count($arry1) : count($array2);
        for ($i = 0; $i < $count; $i++) {
            if (isset($arry[$i]) && isset($array2)) {
                $reslut[] = $arry1[$i] * $array2[$i];
            } elseif (isset($arry1[$i])) {
                $reslut[] = $arry1[$i];
            } elseif (isset($array2[$i])) {
                $reslut[] = $array2[$i];
            }
        }
        return $reslut;
    }
    multiplayTowArrayToggter([1,2,4],[2,3,2]); // return [2,6,8]
    ?&gt;
                </code>
            </pre>
        </div>
    </div>
    <div class="answer-information second-color-background   ">
        <span class="quation"><i>#Quation 4</i>
            <p>Write a function to calculate the factorial of a number (a non-negative integer). The function accepts the number as argument</p>
        </span>
        <div>
            <p>Test Your Code By The Following Examples:</p>
            <span class="reslut">
                <ul>
                    <li>input 0 <i class="fas fa-arrow-circle-right"></i>reslut 1</li>
                    <li>input 5 <i class="fas fa-arrow-circle-right"></i>reslut 120</li>
                    <li>input -7 <i class="fas fa-arrow-circle-right"></i>reslut error</li>
                </ul>
            </span>
        </div>
        <div class="show-code">
            <button type="button" class="button-show-code-4">show the code</button>
        </div>
        <div class="code language-php">
            <pre class="hidden-code pre-4">
            <code>
    &lt;?php
    function factorial($number)
    {
        if ($number < 0) {
            return  'error';
        }
        if ($number == 0 || $number == 1) {
            return 1;
        }
        return $number * factorial($number - 1);
    }
    factorial(3); // return 6
    ?&gt;
                </code>
            </pre>
        </div>
    </div>
    <div class="answer-information first-color-background   ">
        <span class="quation"><i>#Quation 5</i>
            <p>Write a function to check whether a number is prime or not</p>
        </span>
        <div>
            <p>Test Your Code By The Following Examples:</p>
            <span class="reslut">
                <ul>
                    <li>input 11 <i class="fas fa-arrow-circle-right"></i>reslut the number 11 is prime</li>
                    <li>input 1 <i class="fas fa-arrow-circle-right"></i>reslut the number 1 is not prime</li>
                    <li>input 12 <i class="fas fa-arrow-circle-right"></i>reslut the number 12 is not prime</li>
                </ul>
            </span>
        </div>
        <div class="show-code">
            <button type="button" class="button-show-code-5">show the code</button>
        </div>
        <div class="code language-php">
            <pre class="hidden-code pre-5">
            <code>
    &lt;?php
    function prime($number)
    {
        if ($number <= 1) {
            return "the number $number is not prime";
        }
        for ($i = 2; $i < $number - 1; $i++) {
            if ($number % $i == 0) {
                return "the number $number is not prime";;
            }
        }
        return "the number $number is prime";
    }
    prime(6); // return 'the number 6 is not prime'
    ?&gt;
                </code>
            </pre>
        </div>
    </div>

</body>
<script src="../assets/js/prism.js"></script>
<script src="../assets/js/javascript.js"></script>
<script>let active = 1;</script>
<script src="../assets/js/links.js"></script>
</html>
